<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wanglu.stationerystore">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <!-- <activity -->
        <!-- android:name=".ApproveForm" -->
        <!-- android:label="@string/title_activity_approve_form"></activity> -->

        <activity android:name=".StoreRequisition.stationeryRetrieval.StationeryRetrievalFormActivity" />
        <activity android:name=".StoreRequisition.stationeryRetrieval.SubmitAdjustmentActivity" />
        <activity android:name=".StoreRequisition.ConfirmDisbursementList.DisbursementListDeptActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".StoreRequisition.ViewEmpDisbursement.DisbursementListEmpActivity" />
        <activity android:name=".Orders.restockInventory.RestockInventoryActivity" />
        <activity android:name=".Orders.restockInventory.AddStockQuantityActivity" />
        <activity android:name=".StockAdjustment.MonthlyInventory.ManageInventoryActivity" />
        <activity android:name=".StockAdjustment.ManageMonthlyStockDiscrepency.ManageInventoryDetailsActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".StockAdjustment.ManageMonthlyStockDiscrepency.DiscrepancyItemsActivity" />
        <activity android:name=".DepRequisition.ApproveRequisitionForm.ApproveRequestFormActivity" />
        <activity android:name=".DepRequisition.DelegateAuthority.DelegateAuthorityActivity" />
        <activity android:name=".DepRequisition.AppointDeptRep.AppointRepActivity" />
        <activity android:name=".DepRequisition.ChangeCollectionPoint.UpdateLocationActivity" />
        <activity android:name=".Navigation.NavigationForClerk"/>
        <activity android:name=".Navigation.NavigationForManager"/>
        <activity android:name=".Navigation.NavigationForHead"/>

        <!--<activity-->
            <!--android:name=".LoginActivity"-->
            <!--android:label="@string/title_activity_login"></activity>-->
    </application>

</manifest>